#faq {
    height: 40vw;
}

#faq > h1 {
    font-family: 'Bowlby One SC', cursive;
    color: white;
    text-align: center;
    font-size: 2.3vw;
    margin: 0;
}
.faqdiv {
    height: 0.3em;
    width: 7vw;
    background-color: #FDB515;
    margin: auto;
    margin-bottom: 2vw;
}

.faqelement {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vw;
}
.faqelement > summary {
    color: white;
    font-family: 'Poppins', cursive;
    font-size: 1.2em;
}
.spacer {
    background-color: white;
    width: 60vw;
    height: 0.1em;
}
.faqelement > p {
    color: white;
    font-family: 'Poppins', cursive;
    font-size: 1em;
}

a.faqlink {
    color: white;
    text-decoration: underline;
}