body {
    background-color: #080C1C;
}
.body {
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
}

/* Upper Navigation Styles */
.nav_top {
    margin-top: 3vw;
    display: flex;
}
.icon {
    width: 4em;
    height: 4em;
}

.icon_text {
    margin: 0;
    color: white;
}
.top {
    font-family: 'Bellota Text', cursive;
    font-size: 1.6em;
    margin-bottom: -0.65em;
    margin-top: 0.25em;
}
.bot {
    font-family: 'Lilita One', cursive;
    font-size: 2.3em;
}

/* Lower Navigation Styles */
ul {
    padding: 0;
    margin-top: 0.5vw;
    margin-bottom: 0;
}
.menu {
    font-family: 'Amiko', sans-serif;
    font-size: 1em;
    text-decoration: none;
    margin-right: 1.3em;
    color: #79C9F2;
    transition: all 0.2s ease-out;
}
.menu:hover {
    color: #ff9d00;
}
.nav_low {
    list-style-type: none;
    display: inline;
}