.teamh1 {
    font-family: 'Bowlby One SC', cursive;
    text-align: center;
    color: #1776E9;
    font-size: 3em;
    margin: 0;
}
.teamp {
    font-family: 'Bowlby One SC', cursive;
    text-align: center;
    color: white;
    font-size: 1.2em;
    margin: 0;
    margin-bottom: 5vw;
}